### Question 1 :
In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators



    *       - expression
    'hello' - Value 
    87.8    - Value
    -       - expression
    /       - expression
    +       - expression
    6       - Value

### Question 2 :
What is the difference between string and variable?


String : It is group of characters which is enclosed either with single quotes or double quotes 

Variable : It stores a value in a memory with given name by user . This value may change or can be updated which is not constant

### Question 3 :
Describe three different data types.

1. int -integer datatype
2. float -floating datatype
3. str  - string datatype






### Question 4 :
What is an expression made up of? What do all expressions do?



expressions is  made up of mathematical operators and operands.

 expressions are used to evaluate expression which consists of mathematical operators and operands.

### Question 5:
This assignment statements, like spam = 10. What is the difference between an expression and a statement?

expression is used to evaluate expression which consists of mathematical operators and operands.

Assignment statement is nothing assigning a value to a variable 

example : spam=10 , here spam is a variable , 10 is a value which is assigning to a variable spam

#

### Question 6:

After running the following code, what does the variable bacon contain?

In [8]:
bacon = 22
bacon + 1
print(bacon)

22

### Question 7:
What should the values of the following two terms be?

In [10]:
print('spam' + 'spamspam')
print('spam' * 3)

spamspamspam
spamspamspam

# Question 8 :
Why is eggs a valid variable name while 100 is invalid?

There are rules that should be followed while giving name to a variable

Rules:

1. A variable name must start with a letter or an underscore character (_)

2. A variable name cannot start with a digit

3. A variable name can only contain alpha-numeric characters and underscores (a-z, A-Z, 0-9, and _ )

3. Variable names are case-sensitive (age, Age and AGE are three different variables)

4. There is no limit on the length of the variable name

5. A variable name cannot contain spaces

6. The variable name cannot be any Go keywords


eggs is a valid variable name which is following the above rules but 100 is a invalid variable name which is not following the above rules

#

### Question 9 :
What three functions can be used to get the integer, floating-point number, or string version of a value?

int() , float() , and str( )

### Question 10 :
Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

'I have eaten ' + 99 + ' burritos.'

the above code gives error because it can only concatenate str to str not to int

we can modify or fix the above code by typecasting the integer to string  as shown in below cell

In [12]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'